# Terraform state (contient des infos sensibles)
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Variables potentiellement sensibles
terraform.tfvars

# OS
.DS_Store
Thumbs.db
